<?php

namespace AmazonPHP\SellingPartner\Api\OffersApi;

use AmazonPHP\SellingPartner\AccessToken;
use AmazonPHP\SellingPartner\Exception\ApiException;
use AmazonPHP\SellingPartner\Exception\InvalidArgumentException;
use Psr\Http\Message\RequestInterface;

/**
* Selling Partner API for Replenishment
*
* The Selling Partner API for Replenishment (Replenishment API) provides programmatic access to replenishment program metrics and offers. These programs provide recurring delivery of any replenishable item at a frequency chosen by the customer.  The Replenishment API is available worldwide wherever Amazon Subscribe & Save is available or is supported. The API is available to vendors and FBA selling partners.
*
* The version of the OpenAPI document: 2022-11-07
*
* This class was auto-generated by https://openapi-generator.tech
* Do not change it, it will be overwritten with next execution of /bin/generate.sh
*/
interface ReplenishmentSDKInterface
{
    public const API_NAME = 'Replenishment';

    public const OPERATION_LISTOFFERMETRICS = 'listOfferMetrics';

    public const OPERATION_LISTOFFERMETRICS_PATH = '/replenishment/2022-11-07/offers/metrics/search';
    public const OPERATION_LISTOFFERS = 'listOffers';

    public const OPERATION_LISTOFFERS_PATH = '/replenishment/2022-11-07/offers/search';

    /**
    * Operation listOfferMetrics
    *
    * @param AccessToken $accessToken
    * @param string $region
    * @param \AmazonPHP\SellingPartner\Model\Replenishment\ListOfferMetricsRequest|null $body  The request body for the &#x60;listOfferMetrics&#x60; operation. (optional)
    *
    * @throws ApiException on non-2xx response
    * @throws InvalidArgumentException
    * @return \AmazonPHP\SellingPartner\Model\Replenishment\ListOfferMetricsResponse
    */
    public function listOfferMetrics(AccessToken $accessToken, string $region, $body = null);
    /**
    * Operation listOffers
    *
    * @param AccessToken $accessToken
    * @param string $region
    * @param \AmazonPHP\SellingPartner\Model\Replenishment\ListOffersRequest|null $body  The request body for the &#x60;listOffers&#x60; operation. (optional)
    *
    * @throws ApiException on non-2xx response
    * @throws InvalidArgumentException
    * @return \AmazonPHP\SellingPartner\Model\Replenishment\ListOffersResponse
    */
    public function listOffers(AccessToken $accessToken, string $region, $body = null);
}
